
body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }
   #commentForm textarea {
    width: 100%;
    max-width: 600px;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
  }
   #commentForm button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #005a9c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
   #commentForm button:hover {
    background-color: #003d73;
  }
   .repliesContainer, .reply {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
   .repliesContainer:hover, .reply:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
   .repliesContainer .replyBtn, .comment .toggleReplies {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
   .repliesContainer .replyBtn:hover, .comment .toggleReplies:hover {
    background-color: #0056b3;
  }
   .repliesContainer {
    margin-top: 20px;
  }
   .replyInput {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    display: none; /* Initially hide the reply input */
  }
   .repliesContainer:hover .replyInput {
    display: block; /* Show reply input on comment hover */
  }
   .collapsed {
    display: none;
  }
   .repliesContainer {
    padding-left: 1rem;
    border-left: 3px solid #eee;
    margin-left:10%;
  }
 
