*{
    margin: 0;
    padding: 0;
}

/* Toolbox Designs */

.toolbox-cont{
    background-color:#4b4b4b ;
    height: 5rem;
    display: flex;
    align-items: center;

}

.toolbox-filter-colors{
    background-color:#3d3d3d ;
    width: 18rem;
    height: 3.5rem;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    

}

.color-box{
    height: 1.5rem;
    width: 3rem;

  
}

.action-btn-cont{
    background-color:#3d3d3d ;
    height:3.5rem ;
    width:8rem ;
    margin-left: 4rem;
    display: flex;
}

.action-btn-cont>*{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    cursor: pointer;

}

/*  filter colors */

.lightpink{
    background-color: lightpink;
}

.lightblue{
    background-color: lightblue;
}

.lightgreen{
    background-color: lightgreen;
}

.black{
    background-color: black;
}

 /* modal container */

 .modal-cont{
   height: 50vh;
   width: 45vw;
   display: none;
   position: absolute;
   top:30%;
   left : 27%;

 }

 .text-area{
    height: 100%;
    width: 70%;
    background-color:#dfe4ea ;
    resize:none ;
    border: none;
    outline: none;
    font-size: 3rem;
 }

 .priority-color-cont{
    height: 100%;
    background-color:#4b4b4b ;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 }

 .priority-color{
    height: 3rem;
    width: 5rem;
 }


 /* ticket Design */

 .main-cont{
   display: flex;
   gap : 2rem;
   justify-content: center;
   margin-top: 2rem;
 }

 .ticket-cont{
    height: 12rem;
    width: 15rem;
    background-color: coral;
 }

 .ticket-color{

    height: 1.5rem;
 }

 .ticket-id{
    background-color: yellow;
    height:2rem ;
 }

 .active{
    border: 3px solid red;
 }



